<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Books Viewer</title>
  <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
  <script type="text/javascript">
    const apiKey = 'AIzaSyBUBwEh8IFXh26H6Naballr5wEf7ujCckg'
    google.books.load({ 'api_key': apiKey });
    function initialize() {
      const viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
      const bookId = '{{ book_id }}';  
      viewer.load(bookId);
      //console.log(bookId);
    }
    google.books.setOnLoadCallback(initialize);
  </script>
</head>
<body>
  <div id="viewerCanvas" style="width: 100%; height: 600px"></div>
</body>
</html>
